{% extends 'Project8/base.html' %}
{% load staticfiles %}

  {% block title %}   <title>  </title> {% endblock title %}



 {% block content %}

 <br>
<br>
<br>
<br>
<br>
<br>
   <!-- Contenedor de tabla -->
   <div class="container-fluid">

              <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
                </div>

                <div class="card-body">

                    <table class="table table-striped table-hover">
                      <thead>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Id </h6></th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Pais</h6> </th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Capital </h6></th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Territorio   </h6></th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Poblacion  </h6> </th>

                      </thead>

                      <tbody>

                           <tr>
                             <th>{{ pais.id }}</th>
                             <th>{{ pais.Pais }}</th>
                             <th>{{ pais.Capital }}</th>
                             <th>{{ pais.Territorio }}</th>
                             <th>{{ pais.Poblacion }}</th>
                           </tr>
                      </tbody>
                    </table>
                </div>
              </div>
          </div>


 {% endblock %}
