{% extends 'Project1/base.html' %}
{% load staticfiles %}

  {% block title %}   <title> BANDAS DE ROCK - ACDC </title> {% endblock title %}



 {% block content %}

 <header class="masthead bg-primary text-white text-center">
     <div class="container d-flex align-items-center flex-column">

         <!-- Masthead Heading-->
         <h1 class="masthead-heading text-uppercase mb-0"> ACDC </h1>
         <!-- Icon Divider-->
         <div class="divider-custom divider-light">

         </div>
         <!-- Masthead Subheading-->
         <p class="masthead-subheading font-weight-light mb-0">

           AC/DC es un grupo de hard rock australiano formado en 1973 en Sídney, Australia, por los hermanos escoceses Malcolm y Angus Young.
          <br>
          <br>
          Sus álbumes se han vendido en un total estimado de 200 millones de copias,5​6​ embarcándose en giras multitudinarias por todo el mundo,
          y sus éxitos han musicalizado varias producciones cinematográficas sobresalientes.
          <br>
          <br>
         Son famosas sus actuaciones en vivo, resultando vibrantes y exultantes espectáculos de primer orden.​ Mucho de ello se debe al extravagante
         estilo de su guitarrista principal y símbolo visual, Angus Young, quien asume el rol de agitador musical durante los conciertos, gracias a
         sus dinámicos y adrenalínicos despliegues escénicos uniformado de colegial callejero.
          <br>
          <br>
          Al comienzo, los circuitos de pubs australianos fueron testigo de los primeros meses de vida del proyecto, tiempos por los cuales sufrieron
          diversos cambios en su alineación.
          <br>
          <br>
          En 1974, la llegada del cantante Bon Scott, se convertiría en pieza clave del éxito del grupo.
          Su presencia en escena, junto a los hermanos Young, lo convirtió en uno de los personajes más carismáticos de la historia del rock.
          <br>
          <br>
          La formación se estabilizaría con Mark Evans (bajo) y Phil Rudd (batería). </p>
     </div>
 </header>


 {% endblock %}
