{% extends 'Project1/base.html' %}
{% load staticfiles %}

  {% block title %}   <title> BANDAS DE ROCK - DEEP PURPLE </title> {% endblock title %}



 {% block content %}


  <header class="masthead bg-primary text-white text-center">
      <div class="container d-flex align-items-center flex-column">

          <!-- Masthead Heading-->
          <h1 class="masthead-heading text-uppercase mb-0"> DEEP PURPLE </h1>
          <!-- Icon Divider-->
          <div class="divider-custom divider-light">

          </div>
          <!-- Masthead Subheading-->
          <p class="masthead-subheading font-weight-light mb-0">

          Deep Purple es una banda británica de hard rock formada en 1968 en Hertford, Reino Unido. Está considerada como una de las pioneras de
          dicho subgénero, y los pioneros del heavy metal junto a Led Zeppelin y Black Sabbath. Su música ha incorporado elementos del rock progresivo,
          rock sinfónico, rock psicodélico, blues rock y de la música clásica y Britpop. Deep Purple ha vendido más de 120 millones de discos en todo el mundo.
           <br>
           <br>
           La banda ha sufrido múltiples cambios en su formación a lo largo de las décadas, aunque permaneció inactiva desde julio de 1976 hasta su reunión,
          en abril de 1984. Sus cuatro primeras alineaciones son a menudo etiquetadas como "Mark I", "II", "III" y "IV". La "Mark II", formada por Ian Gillan (voz),
          Ritchie Blackmore (guitarra), Jon Lord (teclados), Ian Paice (batería) y Roger Glover (bajo), es considerada la alineación más exitosa, y la
          que mayores ventas ha cosechado, la cual se mantuvo en activo desde 1969 a 1973, de 1984 a 1989, y nuevamente de 1992 a 1993, cuando la relación entre Blackmore
          y el resto de los músicos se volvió insostenible. Su alineación actual, que cuenta con Steve Morse en lugar de Blackmore y con Don Airey en lugar del fallecido
          Jon Lord, lleva en activo desde 2002.
           <br>
           <br>
           El grupo fue considerado "la banda más ruidosa del planeta" por el libro Guinness de los récords en la edición de 1974 debido al concierto que realizaron en el
            Rainbow Theatre de Londres, el 30 de junio de 1972, en el cual se midieron 117 decibelios. En 2013 una encuesta realizada por la emisora de radio británica Planet
             Rock situó a Deep Purple en el 5º lugar de las "bandas más influyentes de la historia".
           <br>
           <br>
         </p>
      </div>
  </header>


 {% endblock %}
