{% extends 'Project1/base.html' %}
{% load staticfiles %}

  {% block title %}   <title>  </title> {% endblock title %}



 {% block content %}

 <br>
<br>
<br>
<br>
<br>
<br>
   <!-- Contenedor de tabla -->
   <div class="container-fluid">

              <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
                </div>

                <div class="card-body">

                    <table class="table table-striped table-hover">
                      <thead>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Id </h6></th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Nombre de la banda</h6> </th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Numero de Integrantes </h6></th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Fecha de Creacion </h6></th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Ciudad de Origen</h6> </th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Subgenero Principal </h6></th>

                      </thead>

                      <tbody>

                           <tr>
                             <th>{{ bandas.id }}</th>
                             <th>{{ bandas.Nombre_de_la_banda }}</th>
                             <th>{{ bandas.No_de_integrantes }}</th>
                             <th>{{ bandas.Fecha_de_creacion }}</th>
                             <th>{{ bandas.Ciudad_de_origen }}</th>
                             <th>{{ bandas.Subgenero_Principal }}</th>
                           </tr>
                      </tbody>
                    </table>
                </div>
              </div>
          </div>


 {% endblock %}
