{% extends 'Project1/base.html' %}
{% load staticfiles %}

  {% block title %}   <title> BANDAS DE ROCK - GUNS AND ROSES </title> {% endblock title %}



 {% block content %}


   <header class="masthead bg-primary text-white text-center">
       <div class="container d-flex align-items-center flex-column">

           <!-- Masthead Heading-->
           <h1 class="masthead-heading text-uppercase mb-0"> GUNS AND ROSES </h1>
           <!-- Icon Divider-->
           <div class="divider-custom divider-light">

           </div>
           <!-- Masthead Subheading-->
           <p class="masthead-subheading font-weight-light mb-0">

           <br>
            <br>
            Guns N' Roses es una banda estadounidense de hard rock formada en Hollywood en la zona de Sunset Strip alrededor de Santa Monica, en la ciudad de Los Ángeles, California en 1985. El grupo fue fundado por el vocalista Axl Rose y el guitarrista Izzy Stradlin

            <br>
            <br>
            ​ Es una de las bandas de rock más exitosas de todos los tiempos, habiendo vendido más de ciento cincuenta millones de discos, es considerada ícono global de la música y forma parte del prestigioso Salón de la Fama del Rock and Roll.​​ Asimismo, la banda es uno de los números artísticos con más galardones, legado y repercusión mundial hasta la fecha. También Guns N' Roses es considerada una de las bandas más influyentes de la historia debido a su gran legado musical.

            <br>
            <br>
            De igual forma en el año 2011 fueron posicionados en el puesto número "21" en la lista de "los 100 mejores artistas de la historia", elaborada por la revista Rolling Stone en conjunto con diversos productores y críticos musicales.
          </p>
       </div>
   </header>


 {% endblock %}
