{% extends 'Project1/base.html' %}
{% load staticfiles %}

  {% block title %}   <title> BANDAS DE ROCK - IRON MAIDEN </title> {% endblock title %}



 {% block content %}

 <header class="masthead bg-primary text-white text-center">
     <div class="container d-flex align-items-center flex-column">

         <!-- Masthead Heading-->
         <h1 class="masthead-heading text-uppercase mb-0"> IRON MAIDEN </h1>
         <!-- Icon Divider-->
         <div class="divider-custom divider-light">

         </div>
         <!-- Masthead Subheading-->
         <p class="masthead-subheading font-weight-light mb-0">

         <br>
          <br>
          Iron Maiden es una banda británica de heavy metal fundada en 1975 por el bajista Steve Harris. Es considerada una de las bandas más importantes de todos los tiempos en este género. Ha vendido más de 100 millones de discos en todo el mundo, a pesar de haber contado con poco apoyo de la radio y la televisión comercial durante la mayor parte de su carrera. Sin embargo, la banda basó su éxito en llegar directamente a los aficionados, grabando discos de alta calidad y realizando destacadas actuaciones en vivo

          <br>
          <br>
          Iron Maiden es una banda británica de heavy metal fundada en 1975 por el bajista Steve Harris. Es considerada una de las bandas más importantes de todos los tiempos en este género. Ha vendido más de 100 millones de discos en todo el mundo, a pesar de haber contado con poco apoyo de la radio y la televisión comercial durante la mayor parte de su carrera. Sin embargo, la banda basó su éxito en llegar directamente a los aficionados, grabando discos de alta calidad y realizando destacadas actuaciones en vivo

          <br>
          <br>
        </p>
     </div>
 </header>

 {% endblock %}
