{% extends 'Project1/base.html' %}
{% load staticfiles %}

  {% block title %}   <title> BANDAS DE ROCK - KISS </title> {% endblock title %}



 {% block content %}

 <header class="masthead bg-primary text-white text-center">
     <div class="container d-flex align-items-center flex-column">

         <!-- Masthead Heading-->
         <h1 class="masthead-heading text-uppercase mb-0"> KISS </h1>
         <!-- Icon Divider-->
         <div class="divider-custom divider-light">

         </div>
         <!-- Masthead Subheading-->
         <p class="masthead-subheading font-weight-light mb-0">

           Kiss (estilizado KISS) es una banda estadounidense de rock formada en Nueva York en enero de 1973 por el bajista Gene Simmons y el guitarrista Paul Stanley, a los que más tarde se unirían el batería Peter Criss y el guitarrista Ace Frehley.​ Conocidos por su maquillaje facial y sus extravagantes trajes, el grupo se dio a conocer al público a mediados de los años 1970 gracias a sus actuaciones en directo, en las que incluían pirotecnia, llamaradas, cañones, baterías elevadoras, guitarras con humo y sangre falsa. Si se tienen en cuenta los álbumes en solitario de 1978, Kiss ha conseguido treinta discos de oro de la RIAA hacia 2015 y se la considera la banda estadounidense que ha recibido más de estas certificaciones. El conjunto ha vendido más de 75 millones de álbumes en todo el mundo y veinticinco millones solo en los Estados Unidos.

         <br>
          <br>
          A pesar de no haber alcanzado la primera posición del Billboard 200, ha situado veintiséis de sus trabajos entre los cuarenta primeros puestos.7​ Desde su formación, los miembros de Kiss asumieron personalidades acordes con los maquillajes y vestimenta que llevaban, así Simmons asumió el rol de «Demon», Stanley el de «Starchild», Criss el de «Catman» y Frehley el de «Space Ace» o «Spaceman». 

          <br>
          <br>

          <br>
          <br>
        </p>
     </div>
 </header>

 {% endblock %}
