{% extends 'Project1/base.html' %}
{% load staticfiles %}

  {% block title %}   <title> BANDAS DE ROCK - NIRVANA </title> {% endblock title %}



 {% block content %}

 <header class="masthead bg-primary text-white text-center">
     <div class="container d-flex align-items-center flex-column">

         <!-- Masthead Heading-->
         <h1 class="masthead-heading text-uppercase mb-0">NIRVANA</h1>
         <!-- Icon Divider-->
         <div class="divider-custom divider-light">

         </div>
         <!-- Masthead Subheading-->
         <p class="masthead-subheading font-weight-light mb-0">

         <br>
          <br>
          Nirvana fue una banda de grunge estadounidense procedente de Aberdeen, Washington, Estados Unidos fundada por el vocalista y guitarrista Kurt Cobain y el bajista Krist Novoselic en 1987. Desde su formación, Nirvana atravesó una serie de frecuentes cambios de baterista hasta que en 1990 se unió, de manera definitiva, el baterista Dave Grohl. Nirvana actualmente es considerada como una de las bandas más famosas, importantes e influyentes de la historia de la música, siendo considerada banda símbolo de una generación

          <br>
          <br>
          El líder de la banda, Kurt Cobain fue denominado por los medios de comunicación como «la voz de una generación» y Nirvana como la «banda símbolo» de la Generación X. Cobain se sentía incómodo con la atención que se les brindaba y decidió enfocar la atención del público hacia la música de la banda, retando a la audiencia con su tercer álbum de estudio, In Utero. El álbum no tuvo el éxito ni las ventas esperadas y la popularidad de Nirvana disminuyó en los meses siguientes a la publicación del álbum. Sin embargo, buena parte de su audiencia alabó el interior «oscuro» de la banda, en especial después de su presentación en MTV Unplugged.

          <br>
          <br>
        </p>
     </div>
 </header>


 {% endblock %}
