{% extends 'Project1/base.html' %}
{% load staticfiles %}

  {% block title %}   <title> BANDAS DE ROCK - PINK FLOYD </title> {% endblock title %}



 {% block content %}

 <header class="masthead bg-primary text-white text-center">
     <div class="container d-flex align-items-center flex-column">

         <!-- Masthead Heading-->
         <h1 class="masthead-heading text-uppercase mb-0"> PINK FLOYD</h1>
         <!-- Icon Divider-->
         <div class="divider-custom divider-light">

         </div>
         <!-- Masthead Subheading-->
         <p class="masthead-subheading font-weight-light mb-0">

         <br>
          <br>
          Pink Floyd fue una banda de rock británica, fundada en Londres en 1965. Es considerada un icono cultural del siglo xx y una de las bandas más influyentes y aclamadas en la historia de la música, que obtuvo gran popularidad gracias a su música psicodélica que evolucionó hacia el rock progresivo y rock sinfónico con el paso del tiempo. Es conocida por sus canciones de alto contenido filosófico, la experimentación sónica, las innovadoras portadas de sus discos y sus elaborados espectáculos en vivo. Sus ventas sobrepasan los 300 millones de álbumes vendidos en todo el mundo,4​5​ 97,5 millones de ellos solamente en los Estados Unidos.

          <br>
          <br>
          Pink Floyd comenzó con un gran éxito en la escena underground londinense a finales de los años sesenta, con Syd Barrett como principal compositor. La salida de Barrett convirtió a Waters en el principal escritor de la banda mientras que Gilmour y Wright tomaron el protagonismo en la composición musical. El grupo grabó durante esta época muchos álbumes que se convirtieron en enormes éxitos comerciales, como The Dark Side of the Moon (1973), Wish You Were Here (1975), Animals (1977) y The Wall (1979). Después de las sesiones de grabación de The Wall el bajista Roger Waters expulsó de la banda al tecladista Rick Wright debido a que estaba disconforme con sus aportes al álbum. 

          <br>
          <br>
        </p>
     </div>
 </header>

 {% endblock %}
