{% load static %}

<html>
    <head>
        <title>ROCK</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    </head>
    <body>

          <div class="page-header">
              <h1><a href="/">Datos sobre rock </a></h1>
          </div>
          <div class="content container">
              <div class="row">
                  <div class="col-md-8">


                  {% block content %}




                  {% endblock %}


                  </div>
              </div>
          </div>
      </body>

</html>
