{% extends 'LABORATORY14/base.html' %}

{% block content %}

    <h2>New post</h2>

    <form method="POST" class="post-form">{% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="save btn btn-primary">Save</button>
    </form>

{% endblock %}
