{% extends 'LABORATORY14/base.html' %}

        {% block content %}

                      {% for Publicacion in publicaciones %}
                        <div class="Publicacion">

                            <div class="date">

                            </div>

                         <h2><a href="{% url 'publicacion_detail' pk=Publicacion.pk %}">{{ Publicacion.Titulo }}</a></h2> 

                          <p>{{ Publicacion.Contenido|linebreaksbr }}</p>
                          <br>
                          <p> publicado: {{ Publicacion.published_date }}</p>


                        </div>
                    {% endfor %}

          {% endblock %}
