{% extends 'LABORATORY14/base.html' %}

{% block content %}

    <div class="Publicacion">

        {% if Publicacion.published_date %}

            <div class="date">

                {{ Publicacion.published_date }}

            </div>

        {% endif %}

        <h2>{{ Pubicacion.title }}</h2>

        <p>{{ Publicaion.text|linebreaksbr }}</p>

    </div>

{% endblock %}
