{% extends 'TCrude/base.html' %}
{% load staticfiles %}

  {% block title %}   <title>  </title> {% endblock title %}



 {% block content %}

 <br>
<br>
<br>
<br>
<br>
<br>
   <!-- Contenedor de tabla -->
   <div class="container-fluid">

              <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
                </div>

                <div class="card-body">

                    <table class="table table-striped table-hover">
                      <thead>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Id </h6></th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Nombre</h6> </th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Desarrollador </h6></th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Tipo </h6></th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Lanzamiento</h6> </th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Ultima Version Estable </h6></th>

                      </thead>

                      <tbody>

                           <tr>
                             <th>{{ sistemas.id }}</th>
                             <th>{{ sistemas.Nombre }}</th>
                             <th>{{ sistemas.Desarrollador }}</th>
                             <th>{{ sistemas.Tipo }}</th>
                             <th>{{ sistemas.Lanzamiento }}</th>
                             <th>{{ sistemas.Ultima_Version_Estable }}</th>
                           </tr>

                      </tbody>
                    </table>

                </div>
              </div>
          </div>


 {% endblock %}
