{% extends 'Project5/base.html' %}
{% load staticfiles %}

  {% block title %}   <title> Autos10</title> {% endblock title %}



 {% block content %}

 <header class="masthead bg-primary text-white text-center">
     <div class="container d-flex align-items-center flex-column">

         <!-- Masthead Heading-->
         <h1 class="masthead-heading text-uppercase mb-0"> Autos10 </h1>
         <!-- Icon Divider-->
         <div class="divider-custom divider-light">

         </div>
          <br>
          <br>

     </div>
 </header>

 {% endblock %}
