{% extends 'Project5/base.html' %}
{% load staticfiles %}

  {% block title %}   <title>  </title> {% endblock title %}



 {% block content %}

 <br>
<br>
<br>
<br>
<br>
<br>
   <!-- Contenedor de tabla -->
   <div class="container-fluid">

              <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
                </div>

                <div class="card-body">

                    <table class="table table-striped table-hover">
                      <thead>
                        <th>  <h6 class="m-0 font-weight-bold text-primary"> Id </h6></th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary"> Modelo</h6> </th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary"> Marca </h6></th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary"> Anio </h6></th>

                      </thead>

                      <tbody>

                           <tr>
                             <th>{{ autos.id }}</th>
                             <th>{{ autos.Modelo }}</th>
                             <th>{{ autos.Marca }}</th>
                             <th>{{ autos.Anio }}</th>
                           </tr>
                      </tbody>
                    </table>
                </div>
              </div>
          </div>


 {% endblock %}
