{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>

  {% block title %}  {% endblock title %}

        <!-- Fuentas -->

        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

        <!-- Tema CSS -->
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

     </head>

    <body id="page-top">


        <!-- NAVBAR-->

        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">   Pinturas Famosas  </a><button class="navbar-toggler navbar text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">

                </div>
            </div>
        </nav>


            {% block content %}


            {% endblock %}



        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!-- Contact form JS-->
        <script src="{% static 'assets/mail/jqBootstrapValidation.js'%}"></script>
        <script src="{% static 'assets/mail/contact_me.js'%}"></script>

        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js'%}"></script>

    </body>
</html>
