{% extends 'Project2/base.html' %}
{% load staticfiles %}

  {% block title %}   <title>  </title> {% endblock title %}



 {% block content %}

 <br>
<br>
<br>
<br>
<br>
<br>
   <!-- Contenedor de tabla -->
   <div class="container-fluid">

              <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>
                </div>

                <div class="card-body">

                    <table class="table table-striped table-hover">
                      <thead>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Id </h6></th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Nombre de la pintura</h6> </th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Fecha de creacion </h6></th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Autor</h6> </th>
                        <th>  <h6 class="m-0 font-weight-bold text-primary">Estilo </h6></th>

                      </thead>

                      <tbody>

                           <tr>
                             <th>{{ pinturas.id }}</th>
                             <th>{{ pinturas.Nombre_de_la_pintura }}</th>
                             <th>{{ pinturas.Fecha_de_creacion }}</th>
                             <th>{{ pinturas.Autor }}</th>
                             <th>{{ pinturas.Estilo }}</th>
                           </tr>
                      </tbody>
                    </table>
                </div>
              </div>
          </div>


 {% endblock %}
