{% extends 'Project10/base.html' %}
{% load staticfiles %}

  {% block title %}   <title> Paises Africanos 1 </title> {% endblock title %}



 {% block content %}

 <header class="masthead bg-primary text-white text-center">
     <div class="container d-flex align-items-center flex-column">

         <!-- Masthead Heading-->
         <h1 class="masthead-heading text-uppercase mb-0">  P1 Africanos </h1>
         <!-- Icon Divider-->
         <div class="divider-custom divider-light">

         </div>
         <!-- Masthead Subheading-->
         <p class="masthead-subheading font-weight-light mb-0">

         </p>
     </div>
 </header>


 {% endblock %}
