{% extends 'Project10/base.html' %}
{% load staticfiles %}

  {% block title %}   <title>  </title> {% endblock title %}



 {% block content %}

 <!-- Cuadro -->
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <div class="row justify-content-center">


         <!-- Earnings (Monthly) Card Example -->
         <div class="col-xl-3 col-md-6 mb-4">
           <div class="card border-left-success shadow h-100 py-2">

               <div class="card-body">

                 <div class="card-body">

                     <div >
                       <h6 class="m-0 font-weight-bold text-primary">  Eliminar pais </h6>
                     </div>

                       <hr>


                       <br>
                       <form class="user" method = "POST"> {% csrf_token %}

                         <div class="form-group">

                           <h6 class="text font-weight text-primary mb-1">
                             ¿Realmente quieres eliminar a
                              <h3 class="text font-weight text-primary mb-1">{{ pais.Pais }} ?</h3 ></h6>


                             <br>

                           <form action="" method="post">
                             {% csrf_token %}

                             <button type="submit" name="button" class="btn btn-primary btn-user btn-block">Si</button>
                             <a href="{% url 'Retrieve' %}" class="btn btn-primary btn-user btn-block">No</a>
                           </form>

                         </div>
                   </div>
              </div>
           </div>
       </div>
 </div>


 {% endblock %}
