{% extends 'Project10/base.html' %}
{% load staticfiles %}

  {% block title %}   <title>  </title> {% endblock title %}



 {% block content %}
 <br>
<br>
<br>
<br>
<br>
<br>
<!-- Contenedor de tabla -->
<div class="container-fluid">

       <!-- Dropdown Card Example -->
       <div class="card shadow mb-4">
         <!-- Card Header - Dropdown -->
         <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
           <h6 class="m-0 font-weight-bold text-primary"> Pais</h6>
           <a href='{%url "Create" %}' role="button"><i class="far fa-trash-alt">|Agregar Pais|</i></a>
         </div>

         <!-- Card Body -->
         <div class="card-body">

           {% if not pais %}
             <h3> No hay pais todavia </h3>

           {% else %}
             <table class="table table-striped table-hover">
               <thead>
                 <th>  <h6 class="m-0 font-weight text-primary">Id </h6></th>
                 <th>  <h6 class="m-0 font-weight text-primary"> Pais </h6></th>
                 <th class="all"> </th>
               </thead>

               <tbody>
                 {% for pais in pais %}
                    <tr>
                      <th>{{ pais.id }}</th>
                      <th>{{ pais.Pais }}</th>
                      <th>
                        <a href='{%url "Detail" pais.id %}'role="button"><i class="far fa-eye"> |Detalles|</i></a>
                        <a href='{%url "Update" pais.id %}' role="button"><i class="far fa-edit"> Actualizar|   </i></a>
                        <a href='{%url "Delete" pais.id %}' role="button"><i class="far fa-trash-alt">Eliminar|</i></a>
                    </th>
                 {% endfor %}
               </tbody>

             </table>
           {% endif %}
         </div>
   </div>



 {% endblock %}
